.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
jest.config.js
*.vsix
node_modules/**
.editorconfig
.eslintrc.json
**/*.map
**/*.ts
**/*.test.ts
**/*.test.js
!out/**/*.js
coverage/**
install.bat
install.js
